[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
keras = "*"
tensorflow-cpu = "*"
flask = "*"
flask-cors = "*"
nltk = "*"

[requires]
python_version = "3.7"
